:root {
    --bg-color: #000000;
    --sub-bg-color: #121212;
    --header-bg-color: #090909;
    --spytifor-color: #067DE1;
    --grey-color: #A7A7A7;
    --white-color: #FFFFFF;

    color: white;
    background-color: var(--bg-color);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    cursor: default;
    font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, p {
    margin: 0;
}

body {
    display: grid;
    grid-template-areas: "nav header"
                         "nav main"
                         "nav footer";
    grid-template-rows: 1fr 10fr 2fr;
    grid-template-columns: 1fr 5fr;
    gap: 0.81rem;
    height: 100%;
}

header {
    grid-area: header;
    background-color: var(--header-bg-color);
    border-radius: 7px;
    padding: 1.25rem 2.62rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    /* border: 1px solid; */
}

nav {
    grid-area: nav;
    height: 100%;
    min-width: max-content;
    font-weight: 600;
    font-size: 1.125rem;
    /* border: 1px solid; */
}

main {
    grid-area: main;
    padding: 2.56rem;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: var(--sub-bg-color);
    display: flex;
    flex-direction: column;
    row-gap: 2.13rem;
    /* border: 1px solid; */
}

div.music-player {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

audio {
    width: 70%;
}

audio::-webkit-media-controls-panel {
    background-color: var(--bg-color);
    border: 0;
    outline: 0;
}

audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-rewind-button,
audio::-webkit-media-controls-return-to-realtime-button,
audio::-webkit-media-controls-toggle-closed-captions-button {
    background-color: white;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    color: white;
}

audio::-webkit-media-controls-mute-button {
    border-radius: 50%;
}

audio::-webkit-media-controls-timeline {
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }

audio::-webkit-media-controls-play-button {
    border-radius: 50%;
}

audio::-webkit-media-controls-volume-slider {
    border-radius: 25px;
}

footer {
    grid-area: footer;
    padding: 1.25rem;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--grey-color);
    font-size: 0.75rem;
    background-color: var(--sub-bg-color);
    /* border: 1px solid; */
}

.banner {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    color: red;
}

.search-bar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1rem;
}

.search-section {
    display: flex;
    width: min-content;
}

.search-bar-input {
    padding: 0.7rem 1.5rem;
    border: 1px solid transparent;
    border-top-left-radius: 1.3rem;
    border-bottom-left-radius: 1.3rem;
    background-color: #202020;
    color: var(--grey-color);
    font-weight: 400;
    width: 18rem;
    transition: all 0.2s ease-in-out;
}

.search-bar-input:focus {
    border-color: #A7A7A7;
    outline: none;
}

.search-bar-submit {
    background-image: url(/img/search_logo.svg);
    background-color: #202020;
    background-repeat: no-repeat;
    background-position: center right 16px;
    outline: none;
    border: 0;
    width: 50px;
    cursor: pointer;
    padding: 0;
    border-top-right-radius: 1.3rem;
    border-bottom-right-radius: 1.3rem;
    transition: all 0.2s ease-in-out;
}

.search-bar-submit:hover {
    background-image: url(/img/search_logo_black.svg);
    background-color: #FEFEFE;
}

.filter-section {
    display: flex;
    column-gap: 12px;
    flex-wrap: wrap;
    row-gap: 12px;
}

.input-filter-radio {
    display: none;
}

.label-filter {
    background-color: #222222;
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 0.85rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.label-filter:hover {
    background-color: #333333;
}

.input-filter-radio:checked + .label-filter {
    background-color: #FEFEFE;
    color: #090909;
}

.select-filter {
    background-color: #222222;
    color: var(--white-color);
    border-radius: 30px;
    text-align: center;
    width: 120px;
    border: 0;
    padding: 10px 15px;
    font-weight: 500;
}

.logo-spytifor-home {
    width: 9rem;
    height: 2.5rem;
}

.nav-bar {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    /* border: 2px solid red; */
}

#nav-main-box {
    height: max-content;
}

.nav-box {
    background-color: var(--sub-bg-color);
    border-radius: 7px;
    padding: 18px;
    padding-top: 23px;
    padding-bottom: 23px;
    height: 100%;
    /* border: 1px solid yellow; */
}

#logo-home {
    padding: 0;
}

#your-library-bt #add-playlist-bt {
    margin-left: auto;
    margin-right: 7px;
    position: relative;
    cursor: pointer;
}

#add-playlist-bt span:nth-child(1) {
    transform: rotate(90deg);
    position: absolute;
}

.add-bt {
    width: 12px;
    height: 2px;
    background-color: var(--grey-color);
}

.nav-item {
    margin-bottom: 1.25rem;
    padding-left: 8px;
    display: flex;
    overflow: auto;
    color: var(--grey-color);
    transition: all 0.3s ease-in-out;
    /* border: 1px solid; */
}

.nav-item:hover {
    color: var(--white-color);
}

#your-library-bt .nav-button {
    cursor: default;
}

#your-library-bt:hover {
    color: var(--grey-color);
}

.nav-item.active {
    color: var(--white-color);
}

.nav-item:last-child {
    margin-bottom: 0;
}

.nav-button {
    margin: 0;
    padding: 0;
    background: none;
    border-style: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 1.2rem;
}

.nav-link, .nav-button {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    /* border: 1px solid; */
}

.nav-link {
    width: 100%;
}

.nav-logo {
    width: 2rem;
    height: 2rem;
    margin-right: 25px;
    
    /* border: 1px solid; */
}

.logo-user {
    width: 100%;
    height: 100%;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.popup-bt {
    width: 2.125rem;
    height: 2.125rem;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

.popup-container {
    display: none;
    width: max-content;
    z-index: 2;
    background-color: #222222;
    position: absolute;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.8rem;
    border-radius: 0.2rem;
}

#popup-user-logo {
    height: 6rem;
    padding: 1.5rem;
    right: 2.85rem;
    top: 4rem;
}

.popup-container.show {
    display: flex;
}

.popup-item {
    color: var(--grey-color);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.popup-item:hover {
    color: var(--white-color);
}

#popup-user-logo hr {
    width: 100%;
    color: #3E3E3E;
}

.arrow-left {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid var(--grey-color);
    margin-right: 10px;
}

.song-popup {
    padding: 0.7rem;
    top: 1.5rem;
    right: 0.9rem;
}

.song-sub-popup {
    display: none;
    height: max-content;
    position: absolute;
    top: 0;
    right: 8rem;
    padding: 0.7rem;
}

.song-popup-bt-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    cursor: pointer;
}

.song-popup-bt-dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--sub-bg-color);
    margin-right: 6px;
}

.popup-container.song-popup:hover > .song-sub-popup {
    display: flex;
}

.tr-data:hover .song-popup-bt-dot {
    background-color: var(--white-color);
}

.td-song-popup {
    position: relative;
}

.topic {
    font-size: 1.5rem;
    font-weight: 700;
}

.card-container {
    display: flex;
    column-gap: 2.13rem;
    row-gap: 2.13rem;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    padding: 1.31rem;
    width: 11rem;
    height: 16.5rem;
    border-radius: 7px;
    background-color: #191919;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.card:hover {
    background-color: #222222;
}

a.card {
    text-decoration: none;
    color: var(--white-color);
}

.card-img {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: var(--sub-bg-color);
    border: 0;
    border-radius: 7px;
    border-style: none;
    object-fit: cover;
}

.rounded {
    border-radius: 50%;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.6rem;
}

.card-description {
    color: var(--grey-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.genre-card {
    width: 10rem;
    height: 10rem;
    padding: 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--white-color);
    transition: all 0.3s ease-in-out;
}

.genre-card:hover {
    color: black;
}

.genre-card-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.song-content {
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
}

.song-content .artist {
    color: var(--grey-color);
    text-decoration: none;
}

.song-content .artist:hover {
    text-decoration: underline;
}

.song-container {
    display: flex;
    flex-direction: column;
}

.song-table {
    text-align: left;
    width: 100%;
}

.tr-header {
    /* background-color: #222222; */
}

.tr-data {

}

.tr-data:hover {
    background-color: #3E3E3E;
}

table {
    border: 0;
    border-spacing: 0;
}

th, td {
    font-weight: 500;
    color: var(--grey-color);
}

td:first-child {
    border-top-left-radius: 30%; 
    border-bottom-left-radius: 30%;
}
td:last-child {
    border-bottom-right-radius: 30%; 
    border-top-right-radius: 30%; 
}

.th-song-no {
    width: 50px;
    text-align: center;
}

.th-song-title {
    width: auto;
    padding: 10px;
}

.th-song-like {
    width: 10%;
}

.th-song-duration {
    text-align: center;
    width: 10%;
}

.th-song-popup {
    width: 50px;
}

.th-song-delete {
    width: 80px;
}

.td-song-no {
    text-align: center;
}

.td-song-duration {
    text-align: center;
}

.td-song-delete {
    text-align: center;
}

.td-song-title {
    display: flex;
    align-items: center;
    padding: 10px;
    column-gap: 15px;
}

.song-img {
    width: 2.6rem;
    height: 2.6rem;
    background-color: #121212;
}

.song-title {
    color: var(--white-color);
    text-decoration: none;
}

.song-title:hover {
    text-decoration: underline;
}

.artist-name {
    font-size: 0.85rem;
    color: var(--grey-color);
    text-decoration: none;
}

.artist-name:hover {
    text-decoration: underline;
}

.td-song-like {
    text-align: center;
}

.like-bt {
    display: block;
    margin: auto;
}

.song-table, th, td {
    /* border: 1px solid;
    border-collapse: collapse; */
}

.artist-about {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

#main-liked-song {
    background-image: linear-gradient(180deg, rgb(76, 55, 134), var(--sub-bg-color), var(--sub-bg-color));
    background-size: 100% 800px;
    background-repeat: no-repeat;
}

.section-info {
    display: flex;
    column-gap: 3rem;
    align-items: center;
}

.profile-img {
    width: 12.4rem;
    height: 12.4rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #090909;
    object-fit: cover;
}

.count {
    font-size: 0.8rem;
    color: var(--grey-color);
}

.section-name {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.section-name h1 {
    font-size: 3.5rem;
}

#user-name {
    cursor: pointer;
}

.user-playlist {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.playlist-img {
    width: 12.4rem;
    height: 12.4rem;
    aspect-ratio: 1/1;
    border-radius: 0.5rem;
    background-color: var(--white-color);
    box-shadow: 0px 0px 40px -8px #090909;
}

.liked-song-img {
    background-image: linear-gradient(135deg, #6934FF, #C7E9D7);
}

.playlist-owner {
    display: flex;
    column-gap: 1rem;
}

.playlist-owner-name {
    color: var(--grey-color);
}

.info-modify {
    text-decoration: none;
    cursor: pointer;
    color: var(--grey-color)
}

.info-modify:hover {
    text-decoration: underline;
}

.info-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr auto;
    column-gap: 1.5rem;
}

.img-upload {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    color: var(--grey-color);
    width: 10.7rem;
    height: 10.7rem;
    background-color: #121212;
    box-shadow: 0px 0px 40px -8px black;
}

.info-edit {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.info-name, .info-description {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1rem;
    background-color: #3E3E3E;
    color: var(--white-color);
    border: 0;
    border-radius: 0.35rem;
    padding: 0.7rem;
}

.info-name {
    font-weight: 700;
}

.info-description {
    height: 5.65rem;
    resize: none;
}

.info-checkbox {
    margin-bottom: 1rem;
    width: 1.15rem;
    height: 1.15rem;
    background-color: #3E3E3E;
}

.info-checkbox + label {
    color: var(--grey-color);
    font-size: 0.8rem;
}

.info-submit {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    width: 5.3rem;
    height: 2.5rem;
    border-radius: 7.7rem;
    font-weight: 600;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-topic {
    font-size: 1.2rem;
    margin-bottom: 1.6rem;
}

.modal-content {
    position: relative;
    background-color: #121212;
    margin: auto;
    width: 30.75rem;
    height: min-content;
    padding: 1.5rem;
}

.modal-content .modal-close-bt {
    position: absolute;
    top: 1.2rem;
    left: 29.75rem;
    cursor: pointer;
}


